<% if (typeof errors === "undefined") { errors = null } %> <!--To avoid errors-->


<div class="register-page-container">
  <div class="register-card">
    <h1>Register</h1>

    <% if (message) { %>
      <div class="flash-message"><%= message %></div>
    <% } %>

    <% if (errors) { %>
    <ul class="notice">
      <% errors.errors.forEach(error => { %>
        <li><%= error.msg %></li>
      <% }) %>
    </ul>
    <% } %>

    <form action="/account/register" method="POST">
      <label for="firstname">First Name</label>
      <input type="text" name="account_firstname" id="accountFirstname" required title="Fill in your first name"
        value="<%= typeof account_firstname !== 'undefined' ? account_firstname : '' %>">

      <label for="lastname">Last Name</label>
      <input type="text" id="account_lastname" name="account_lastname" required title="Fill in your last name"
        value="<%= typeof account_lastname !== 'undefined' ? account_lastname : '' %>">

      <label for="email">Email Address</label>
      <input type="email" id="account_email" name="account_email" required title="Fill in your email address"
        value="<%= typeof account_email !== 'undefined' ? account_email : '' %>">

      <label for="password">Password</label>
      <input type="password" id="account_password" name="account_password" required
        pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[^A-Za-z0-9]).{12,}$"
        title="Password must be at least 12 characters long, contain one uppercase letter, one number, and one special character.">

      <button type="submit">Register</button>
    </form>
  </div>
</div>
