<div id="purchase-summary">
  <h2>Summary</h2>
  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Classification</th>
      <th>Model</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
    <% cartItems.forEach(item => { %>
      <tr>
        <td><%= item.account_firstname %></td>
        <td><%= item.account_email %></td>
        <td><%= item.classification_name %></td>
        <td><%= item.inv_model %></td>
        <td><%= item.cart_quantity %></td>
        <td>€<%= (item.cart_quantity * item.inv_price).toFixed(2) %></td>
      </tr>
    <% }) %>
  </table>

  <h3>Total ammount to pay: $<%= total.toFixed(2) %></h3>
</div>
